.hero-main {
  background: url(../../assets/images/banner-bg.jpg) no-repeat top right/cover;
  background-color: var(--color--dark);
  color: var(--color--light);
  border-radius: var(--border-radius-primary);
  padding: var(--padding-primary);
}

.hero-text {
  max-width: 500px;
}

.hero-title {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: calc(var(--margin-primary) / 2);
  font-weight: var(--font-weight-bold);
}

.hero-title em {
  font-style: normal;
  color: var(--color--primary);
}

.hero-subtitle {
  font-size: 20px;
  font-weight: var(font-weight-normal);
  margin-bottom: calc(var(--margin-primary) / 2);
}

.main-button {
  padding: 10px;
  background-color: var(--color--primary);
  border-radius: calc(var(--border-radius-primary) * 2);
  width: 200px;
  display: flex;
  justify-content: center;
}

.main-button a {
  align-items: center;
  color: var(--color-light);
  font-weight: var(--font-weight-normal);
  text-decoration: none;
}
