@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kdam+Thmor+Pro&family=Poppins:wght@400;900&display=swap");

:root {
  --color--dark: #27292a;
  --color--darkest: #1f1222;
  --color--light: #fff;
  --color--primary: #ec6090;
  --color--icons: yellow;
  --color-bg-body: var(--color--darkest);

  --distance-primary: 50px;
  --padding-primary: var(--distance-primary);
  --margin-primary: var(--distance-primary);
  --border-radius-primary: calc(var(--distance-primary) / 2);

  --font-weight-bold: 900;
  --font-weight-normal: 400;
  --font-family-promary: "Poppins", sans-serif;
}

body {
  background-color: var(--color-bg-body);
  font-family: var(--font-family-promary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
